*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px 0;
}

body.page-loaded .container {
    animation: pageFadeIn 1s ease forwards;
}

h1{
    font-weight: bold;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}
span{
    font-size: 12px;
}
a{
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container{
    background-color: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: 333ms;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-container{
    margin: 20px 0;
    display: block;
}
.social-container a{
    border: 1px solid #1faef6;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    transition: 333ms;
}
.social-container a:hover {
    transform: rotateZ(13deg);
    border: 1px solid #0e263d;
}

.form-container input{
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.form-container input:hover {
  transform: scale(105%);
}
button {
    border-radius: 50px;
    box-shadow: 0 1px 1px;
    border: 1px solid #1faef6;
    background: #1faef6;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:active {
    transform: scale(.95);
}
button:focus {
    outline: none;
}
button.ghost{
    background: transparent;
    border-color: #fff;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}
.log-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}


.hidden-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}
.hidden{
    background: linear-gradient(to right, #1faef6, #1faef6) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
.hide-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}
.right{
    right: 0;
    transform: translateY(0);
}
.left{
    transform: translateY(-20%);
}

.container.right-active .log-in-container{
    transform: translateX(100%);
}
.container.right-active .hidden-container{
    transform: translateX(-100%);
}
.container.right-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.container.right-active .hidden{
    transform: translateX(50%);
}
.container.right-active .left{
    transform: translateY(0);
}
.container.right-active .right{
    transform: translateY(20%);
}