.header{
    background: #fde7ec;
    border-radius: 16px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.header h3 {
    font-size: 22px;
    margin-bottom: 6px;
    margin-bottom: 20px;
}
.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.subject-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}
.subject-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}
.subject-card h3 {
    margin-bottom: 10px;
    color: #333;
}
.subject-card p {
    margin: 5px 0;
    color: #666;
}
.high-score {
    color: green;
    font-weight: bold;
}
.low-score {
    color: red;
    font-weight: bold;
}
.footer{
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border-radius: 16px;  
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



@media (max-width: 992px) {
    /*  */
}

@media (max-width: 600px) {
    .main {
        grid-template-columns: 1fr;
    }
}