* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
body {
    background: #eef1f8;
}
.container{
    display: grid;
    grid-template-columns: 220px 1fr 300px;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}
.sidebar {
    background: #fff;
    border-radius: 16px;
    padding: 30px 20px;
}
.logo{
    display: flex;
    gap: 15px;
}
.logo img{
    height: 40px;
}
.logo h2 {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 20px;
}
.sidebar nav a {
    display: block;
    padding: 10px 0;
    margin: 8px 0;
    text-decoration: none;
    color: #555;
    font-size: 15px;
    border-radius: 8px;
}
.sidebar nav .active {
    background: #e0e7ff;
    color: #3730a3;
    font-weight: bold;
}
