.profile-panel {
    background: #fff;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.profile img{
    width: 120px;
    height: 120px;
    background: #cbd5e1;
    border-radius: 50%;
    margin: 40px auto 10px;
}
.profile span{
    font-size: 20px;
}
.profile p{
    font-size: 14px;
    color: gray;
}
.language{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 30px;
}
.language-box{
    display: flex;
    gap: 10px;
}
.icon{
    width: 50px;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: cadetblue;
    border-radius: 10px;
}
.country{
    border-radius: 10px;
    flex-grow: 1;
    height: 100%;
    background-color: #cbd5e1;
    padding: 10px;
    font-size: 14px;
}
#active-box {
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}
@media (max-width: 992px) {
    .profile-panel {
        display: none;
    }
}