* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}
body {
    background: #eef1f8;
}
.container{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
    gap: 20px;
    padding: 20px;
}
.sidebar {
    background: #fff;
    border-radius: 16px;
    padding: 30px 20px;
}
.logo{
    display: flex;
    gap: 15px;
}
.logo img{
    height: 40px;
}
.logo h2 {
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 20px;
}
.sidebar nav a {
    display: block;
    padding: 10px 0;
    margin: 8px 0;
    text-decoration: none;
    color: #555;
    font-size: 15px;
    border-radius: 8px;
}
.sidebar a:hover {
    color: #4f46e5;
    background: #f7f7f7;
}
.sidebar nav .active {
    background: #e0e7ff;
    color: #3730a3;
    font-weight: bold;
}

.bottombar{
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    background: #fff;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.15);
    padding: 20px 0;
    z-index: 999;
    justify-content: space-around;
    border-radius: 18px 18px 0 0;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}
.bottombar a {
    text-decoration: none;
    color: #555;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.bottombar a:hover {
    color: #4f46e5;
    transform: scale(1.2) translateY(-3px);
}

.bottombar .active {
    color: #4f46e5;
    padding: 6px;
    border: 5px #e0e7ff solid;
    border-radius: 10px;
    background: #e0e7ff;
    box-shadow: none;
}

.material-symbols-rounded {
    font-variation-settings:
        "FILL" 1,
        "wght" 600,
        "GRAD" 0,
        "opsz" 24;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: 200px 1fr;
    }
}
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .sidebar {
        display: none;
    }
    .bottombar{
        display: flex;
        animation: slideUp 0.5s ease-out;
    }
    body {
        padding-bottom: 280px;
    }
    @keyframes slideUp {
        from { transform: translateX(-50%) translateY(100px); opacity: 0; }
        to { transform: translateX(-50%) translateY(0); opacity: 1; }
    }
}